.logo-frase{
    text-align: center;
    color: #d9d9d9;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 25px;
    text-shadow: 0.5px 0.5px 0.2px rgb(12, 12, 12);
}

.layout{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contenedor_Padre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 230px;
    border-radius: 20px;
    background: linear-gradient(rgb(0, 255, 149), rgb(0, 217, 255));
}

.contenedor_hijo{
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 205px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 600;
}

input{
    height: 30px;
    font-family: sans-serif;
    font-size: medium;
    margin-top: 10px;
}

.botonGuardar{
    padding: 5px;
    font-size: large;
    border-radius: 20px;
    background-color: #082764;
    color: white;
    font-weight: 500;
}